{{ $ca := genCA "svc-cat-ca" 3650 }}
{{ $svcName := include "k8s-vault-webhook.fullname" . }}
{{ $cn := printf "%s.%s.svc" $svcName .Release.Namespace }}
{{ $altName1 := printf "%s.cluster.local" $cn }}
{{ $altName2 := printf "%s" $cn }}
{{ $server := genSignedCert $cn nil (list $altName1 $altName2) 3650 $ca }}

apiVersion: v1
kind: List
metadata:
items:

- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ template "k8s-vault-webhook.fullname" . }}
    namespace: {{ .Release.Namespace }}
  data:
    cert.pem: {{ b64enc $server.Cert }}
    key.pem: {{ b64enc $server.Key }}
    ca:  {{ b64enc $ca.Cert }}

- apiVersion: admissionregistration.k8s.io/v1beta1
  kind: MutatingWebhookConfiguration
  metadata:
    name: {{ template "k8s-vault-webhook.fullname" . }}
    namespace: {{ .Release.Namespace }}
  webhooks:
  - name: secrets.{{ template "k8s-vault-webhook.name" . }}.webhook
    clientConfig:
      service:
        namespace: {{ .Release.Namespace }}
        name: {{ template "k8s-vault-webhook.fullname" . }}
        path: /secret
      caBundle: {{ b64enc $ca.Cert }}
    rules:
    - operations:
      - CREATE
      - UPDATE
      apiGroups:
      - "*"
      apiVersions:
      - "*"
      resources:
      - secrets
    failurePolicy: {{ .Values.webhook.failurePolicy }}
    namespaceSelector:
    {{- if .Values.namespaceSelector.matchLabels }}
      matchLabels:
{{ toYaml .Values.namespaceSelector.matchLabels | indent 8 }}
    {{- end }}
      matchExpressions:
    {{- if .Values.namespaceSelector.matchExpressions }}
{{ toYaml .Values.namespaceSelector.matchExpressions | indent 6 }}
    {{- end }}
      - key: name
        operator: NotIn
        values:
        - {{ .Release.Namespace }}
{{- end }}
    sideEffects: NoneOnDryRun